<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/styles.css">

</head>
<body>
	<header th:insert="fragment.html :: nav"></header>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 offset-md-3 mt-5">			

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Products Id</th>
									<th>Name</th>
									<th>Brand</th>
									<th>Made In</th>
									<th>Price</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${listBook}">
									<td th:text="${product.id}">Products Id</td>
									<td th:text="${product.name}">Name</td>
									<td th:text="${product.brand}">Brand</td>
									<td th:text="${product.madein}">Made In</td>
									<td th:text="${product.price}">price</td>
									<td><a th:href="@{'/edit/'+${product.id}}">Edit</a>
										&nbsp;&nbsp;&nbsp;&nbsp; <a
										th:href="@{'/delete/'+${product.id}}">Delete</a></td>
								</tr>
							</tbody>

						</table>
						<a href="new">Create New Product</a><br>
					</div>
				</div>

			</div>
		</div>
</body>
</html>


