<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Creat New Product</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/styles.css">
</head>
<body>


	<div class="container-fluid">
		<div class="row">
			<div></div>
			<header th:insert="fragment.html :: nav"></header>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<marquee behavior="scroll" direction="left" scrollamount="3">
						<h1 style="color: black;">Well come to Admin Panel</h1>
					</marquee>

					
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>